# Matrices

In [1]:
M = matrix(1:12, nrow = 4)
M

     [,1] [,2] [,3]
[1,] 1    5     9
[2,] 2    6    10
[3,] 3    7    11
[4,] 4    8    12

In [2]:
M = matrix(1:12, nrow = 4, byrow = T)
M

     [,1] [,2] [,3]
[1,]  1    2    3
[2,]  4    5    6
[3,]  7    8    9
[4,] 10   11   12

In [3]:
M = matrix(1:12, nrow = 3)
M

     [,1] [,2] [,3] [,4]
[1,] 1    4    7    10
[2,] 2    5    8    11
[3,] 3    6    9    12

In [4]:
M = matrix(1:12, nrow = 5)
M

Warning message in matrix(1:12, nrow = 5):
“data length [12] is not a sub-multiple or multiple of the number of rows [5]”

     [,1] [,2] [,3]
[1,] 1     6   11
[2,] 2     7   12
[3,] 3     8    1
[4,] 4     9    2
[5,] 5    10    3

In [5]:
matrix(1, nrow = 4, ncol = 6)

     [,1] [,2] [,3] [,4] [,5] [,6]
[1,] 1    1    1    1    1    1
[2,] 1    1    1    1    1    1
[3,] 1    1    1    1    1    1
[4,] 1    1    1    1    1    1

**Definir una matriz constante**

In [6]:
n = 3
m = 5
k = 0

matrix(k, nrow = n, ncol = m)

     [,1] [,2] [,3] [,4] [,5]
[1,] 0    0    0    0    0
[2,] 0    0    0    0    0
[3,] 0    0    0    0    0

In [7]:
rbind(M, c(1,2,3), c(-1,-2,-3))

     [,1] [,2] [,3]
[1,]  1    6   11
[2,]  2    7   12
[3,]  3    8    1
[4,]  4    9    2
[5,]  5   10    3
[6,]  1    2    3
[7,] -1   -2   -3

In [9]:
cbind(M, c(1,2,3,4,5), c(-1,-2,-3,-4,-5))

     [,1] [,2] [,3] [,4] [,5]
[1,] 1     6   11   1    -1
[2,] 2     7   12   2    -2
[3,] 3     8    1   3    -3
[4,] 4     9    2   4    -4
[5,] 5    10    3   5    -5

In [10]:
diag(c(1,2,3,4))

     [,1] [,2] [,3] [,4]
[1,] 1    0    0    0
[2,] 0    2    0    0
[3,] 0    0    3    0
[4,] 0    0    0    4

In [11]:
diag(5, nrow = 4)

     [,1] [,2] [,3] [,4]
[1,] 5    0    0    0
[2,] 0    5    0    0
[3,] 0    0    5    0
[4,] 0    0    0    5

In [12]:
M[2,3]

[1] 12

In [14]:
M[2,]

[1]  2  7 12

In [15]:
M[,3]

[1] 11 12  1  2  3

In [16]:
M[c(2,3,5), 1:2]

     [,1] [,2]
[1,] 2     7
[2,] 3     8
[3,] 5    10

In [17]:
diag(M)

[1] 1 7 1

In [18]:
nrow(M)

[1] 5

In [19]:
ncol(M)

[1] 3

In [20]:
dim(M)

[1] 5 3

In [21]:
sum(M)

[1] 84

In [22]:
prod(M)

[1] 2874009600

In [23]:
mean(M)

[1] 5.6

In [24]:
colSums(M)

[1] 15 40 29

In [25]:
rowSums(M)

[1] 18 21 12 15 18

In [26]:
colMeans(M)

[1] 3.0 8.0 5.8

In [27]:
rowMeans(M)

[1] 6 7 4 5 6

In [29]:
apply(M, MARGIN = 1, FUN = function(x){sqrt(sum(x^2))})

[1] 12.569805 14.035669  8.602325 10.049876 11.575837

In [30]:
apply(M, MARGIN = 2, FUN = function(x){sqrt(sum(x^2))})

[1]  7.416198 18.165902 16.703293

In [32]:
apply(M, MARGIN = c(1,2), FUN = function(x){x^2})

     [,1] [,2] [,3]
[1,]  1    36  121
[2,]  4    49  144
[3,]  9    64    1
[4,] 16    81    4
[5,] 25   100    9

In [33]:
M

     [,1] [,2] [,3]
[1,] 1     6   11
[2,] 2     7   12
[3,] 3     8    1
[4,] 4     9    2
[5,] 5    10    3

In [34]:
t(M)

     [,1] [,2] [,3] [,4] [,5]
[1,]  1    2   3    4     5
[2,]  6    7   8    9    10
[3,] 11   12   1    2     3

In [35]:
M %*% t(M)

     [,1] [,2] [,3] [,4] [,5]
[1,] 158  176  62    80   98
[2,] 176  197  74    95  116
[3,]  62   74  74    86   98
[4,]  80   95  86   101  116
[5,]  98  116  98   116  134

In [36]:
3 * M

     [,1] [,2] [,3]
[1,]  3   18   33
[2,]  6   21   36
[3,]  9   24    3
[4,] 12   27    6
[5,] 15   30    9

In [37]:
M + (3*M)

     [,1] [,2] [,3]
[1,]  4   24   44
[2,]  8   28   48
[3,] 12   32    4
[4,] 16   36    8
[5,] 20   40   12

In [38]:
library(Biodem)

ERROR: Error in library(Biodem): there is no package called ‘Biodem’

In [39]:
install.packages("Biodem")

Updating HTML index of packages in '.Library'

Making 'packages.html' ...
 done

In [40]:
library(Biodem)

In [41]:
mtx.exp(M,2)

ERROR: Error in pot %*% pot: non-conformable arguments

In [42]:
library(expm)

ERROR: Error in library(expm): there is no package called ‘expm’

In [43]:
install.packages("expm")

Updating HTML index of packages in '.Library'

Making 'packages.html' ...
 done

In [44]:
M%%2

     [,1] [,2] [,3]
[1,] 1    0    1
[2,] 0    1    0
[3,] 1    0    1
[4,] 0    1    0
[5,] 1    0    1

In [48]:
A = matrix(c(2,0,2,1,2,3,0,1,3), nrow = 3, byrow = T)
B = matrix(c(3,2,1,1,0,0,1,1,1), nrow = 3, byrow = T)

In [50]:
A %*% B

     [,1] [,2] [,3]
[1,] 8    6    4
[2,] 8    5    4
[3,] 4    3    3

In [52]:
mtx.exp(A,2)

     [,1] [,2] [,3]
[1,] 4    2    10
[2,] 4    7    17
[3,] 1    5    12

In [53]:
mtx.exp(B,3)

     [,1] [,2] [,3]
[1,] 47   28   16
[2,] 12    7    4
[3,] 20   12    7

In [54]:
A %*% A

     [,1] [,2] [,3]
[1,] 4    2    10
[2,] 4    7    17
[3,] 1    5    12

In [55]:
B %*% A

     [,1] [,2] [,3]
[1,] 8    5    15
[2,] 2    0     2
[3,] 3    3     8

In [56]:
det(A) # Determinante

[1] 8

In [58]:
qr(M)$rank # Rango

[1] 3

In [59]:
solve(A) # Inversa

     [,1]   [,2]  [,3]
[1,]  0.375  0.25 -0.5
[2,] -0.375  0.75 -0.5
[3,]  0.125 -0.25  0.5

In [60]:
solve(A) %*% A

     [,1] [,2] [,3]
[1,] 1    0    0
[2,] 0    1    0
[3,] 0    0    1

In [61]:
solve(A, c(1,2,3)) # Resuelve sistema de ecuaciones liineales con vector de valores independientes

[1] -0.625 -0.375  1.125

In [62]:
eigen(A) # Valores propios

eigen() decomposition
$values
[1] 4.511547+0.000000i 1.244226+0.474477i 1.244226-0.474477i

$vectors
             [,1]                  [,2]                  [,3]
[1,] 0.4022596+0i  0.7337066+0.0000000i  0.7337066+0.0000000i
[2,] 0.7635534+0i  0.4042133-0.4371684i  0.4042133+0.4371684i
[3,] 0.5051469+0i -0.2772580+0.1740634i -0.2772580-0.1740634i

In [63]:
eigen(A)$values

[1] 4.511547+0.000000i 1.244226+0.474477i 1.244226-0.474477i

In [64]:
eigen(A)$vectors

     [,1]         [,2]                  [,3]
[1,] 0.4022596+0i  0.7337066+0.0000000i  0.7337066+0.0000000i
[2,] 0.7635534+0i  0.4042133-0.4371684i  0.4042133+0.4371684i
[3,] 0.5051469+0i -0.2772580+0.1740634i -0.2772580-0.1740634i

In [74]:
M = rbind(c(2,6,-8), c(0,6,-3), c(0,2,1))
eigen(M)

eigen() decomposition
$values
[1] 4 3 2

$vectors
          [,1]       [,2] [,3]
[1,] 0.2672612 -0.8164966    1
[2,] 0.8017837  0.4082483    0
[3,] 0.5345225  0.4082483    0

In [75]:
eigen(M)$values

[1] 4 3 2

In [76]:
eigen(M)$vectors

     [,1]      [,2]       [,3]
[1,] 0.2672612 -0.8164966 1
[2,] 0.8017837  0.4082483 0
[3,] 0.5345225  0.4082483 0

In [77]:
D = diag(eigen(M)$values)
P = eigen(M)$vectors

In [79]:
D

     [,1] [,2] [,3]
[1,] 4    0    0
[2,] 0    3    0
[3,] 0    0    2

In [80]:
P

     [,1]      [,2]       [,3]
[1,] 0.2672612 -0.8164966 1
[2,] 0.8017837  0.4082483 0
[3,] 0.5345225  0.4082483 0

**M = P*D*P^-1**

In [88]:
P %*% D %*% mtx.exp(P,-1)

     [,1]     [,2]      [,3]
[1,] 1.069045 -2.449490 2
[2,] 3.207135  1.224745 0
[3,] 2.138090  1.224745 0

In [81]:
m1 = P %*% d

In [82]:
m1

     [,1]     [,2]      [,3]
[1,] 1.069045 -2.449490 2
[2,] 3.207135  1.224745 0
[3,] 2.138090  1.224745 0

In [86]:
m1 %*% P%%(-1)

     [,1]       [,2]        [,3]
[1,] -0.6092018 -0.05637498 -0.9309550
[2,] -0.1608766 -0.11861468 -0.7928651
[3,] -0.4465909 -0.24574312 -0.8619101

In [87]:
P %*% mtx.exp(P,-1) %*% d

     [,1]     [,2]      [,3]
[1,] 1.069045 -2.449490 2
[2,] 3.207135  1.224745 0
[3,] 2.138090  1.224745 0